.logo {
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 1;
    color: #FF8A00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginbox{
    
    background: #353535;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Inter';
    font-style: normal;
    margin: 10%;

}