{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--CSS link-->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
<footer class="bottomTap">
    <a href="{% url 'home' %}" class="home"><img src="{% static 'img/homeTap.svg' %}" alt=""></a>
    <a href="{% url 'product' %}" class="info"><img src="{% static 'img/infoTap.svg' %}" alt=""></a>
    {% if user.is_authenticated %}
    <a href="{% url 'user:mypage' %}" class="my"><img src="{% static 'img/myTap.svg' %}" alt=""></a>
    {% else %}
    <a href="{% url 'user:login' %}" class="my"><img src="{% static 'img/myTap.svg' %}" alt=""></a>
    {% endif %}
</footer>
</html>