{% extends 'nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
</head>

<body>
    <h1>글쓰기 페이지</h1>
    <form method="POST">
        {% csrf_token %}
        제목<br>
        <input type="text" name="postTitle"><br>
        가격<br>
        <input type="text" name="price"><br>
        주소<br>
        <input type="text" name="address"><br>
        카테고리<br>
        <input type="text" name="category"><br>
        내용<br>
        <textarea rows="10" cols="50" name="postContents"></textarea><br>
        <input type="file" name="productImage"><br>
        <input type="submit" value="글쓰기">
    </form>
</body>
</html>
{% endblock %}