{% extends "nav.html" %}
{% load static %}
{% block content %}

<div class="container my-3">
    <h1>개별 페이지</h1>
    <p>{{post.postTitle}}</p>
    <p>{{post.postContents}}</p>
    <p>{{post.postTime}}</p>
    <p>{{post.price}}</p>
    {% if post.productImage %}
    <img src = "{{ ost.productImage.url }}" alt="" height="600">
    <br>
    {% endif %}
    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'product' %}'">목록으로</button>
    <form method="POST" action="{% url 'chat:create_chatroom' post.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">채팅방 생성</button>
    </form>

    <form method="POST" action="{% url 'wishlist' post.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">관심</button>
    </form>
    
    
</div>

{% endblock %}