<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posting</title>
</head>
    <body>
        <h1>개별 페이지</h1>
        <p>{{post.postTitle}}</p>
        <p>{{post.postContents}}</p>
        {% if post.productImage %}
        <img src = "{{ post.productImage.url }}" alt="" height="600">
        <br>
        {% endif %}
        <a href="/product/">목록</a>
    </body>
</html>