{% extends 'nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<div class = "title">물품 목록</div>


  
<div class="container">
    <table>
      <tbody>
        {% for list in productlist %}
        <tr>
            <td><a href="{{list.pk}}/"><img src="/media/{{list.productImage}}" width="75" height="75"></a></td>
            <td><a href="{{list.pk}}/">{{list.postTitle}}</a></td>
            <td>{{list.get_status_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>    
  </div>

<div class="button-container">
  <button type="button" class="btn btn-primary" onclick="location.href='{% url 'newProduct' %}'">제품 등록</button>
</div>

{% endblock %}